BODY {
	font-family: helvetica;
	font-size: 11pt;
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
}

TABLE {
	background: silver;
	margin-left: auto; 
	margin-right: auto;
}

TABLE.blanco {
	background: white;
	margin-left: auto;
	margin-right: auto;
}

TABLE.print {
	background-color: white;
	border-spacing: 1;
	border-collapse: collapse;
	border-style: solid;
	border-color: black;
	border-width: thin;
}

TH {
	font-size: 10pt;
	background: silver;
}

TH.print {
	font-size: 10pt;
	background: silver;
	padding: 2;
	border-style: solid;
	border-color: black;
	border-width: thin;
}

TH.blanco {
	font-size: 10pt;
	background: white;
}

TD {
	vertical-align: top;
	font-size: 10pt;
	background: rgb(204, 230, 255);
}

TD.blanco {
	vertical-align: top;
	font-size: 11pt;
	background: white;
}

TD.print {
	vertical-align: top;
	font-size: 10pt;
	background: white;
	padding: 2;
	border-style: solid;
	border-color: black;
	border-width: thin;
}

H1 {
	font-size: 16pt;
	text-align: center;
}

H2 {
	font-size: 13pt;
	text-align: center;
}

.mensaje_error {
    color: #FF0000;
}